/*
File: Responsive
*/


@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .content-page {
    margin-left: 0 !important;
  }

  .wrapper-page {
    width: 90%;
  }
  .button-menu-mobile {
    display: inline-block;
  }
  .navbar-custom {
    padding-left: 10px;
  }

  .button-menu-mobile-topbar {
    display: block !important;
    background-color: $white;
    color: $dark;
    font-size: 20px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    border-radius: 0;
    border: none;
    position: absolute;
    right: -42px;
    top: 14px;
  }
  .table-rep-plugin{
    .fixed-solution{
      margin-bottom: 0px;
      .sticky-table-header {
        top: 60px !important;
      }
    }
  }
}



@media (max-width: 620px){
  .mo-mb-2 {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .button-menu-mobile {
    display: block;
  }
  .page-breadcrumb {
    display: none;
  }
}

@media (max-width: 420px) {
  .hide-phone,.notify-icon {
    display: none;
  }
  .dropdown-menu-lg {
    width: 200px;
  }
  .notify-details {
    margin-left: 0 !important;
  }
  .height-auto{
    height: auto;
    padding-top: 45px;
  }
}




